
@use "./Styles/variables" as *;

* {
  margin: 0;
  padding: 0;
}

// Body

body {
  width: 100%;
  background-color: $background-primary-colour;
  overflow-x: hidden;
  color: $text-primary-colour;
}

// Nav

nav {
  font-family: $nav-font;

  ul {
    display: grid;
  }
}

// Main

// Footer

// Mobile => Tablet

// Tablet => Desktop