@use "./Styles/variables" as *;

// @import "compass/css3";

* {
  margin: 0;
  padding: 0;
}

// Function

@function multiple-box-shadows($n, $colour) {
  $value: '#{random(2000)}px #{random(2000)}px #{$colour}';
  @for $i from 2 through $n {
    $value: '#{$value} , #{random(2000)}px #{random(2000)}px #{$colour}';
  }
  @return unquote($value);
}

// Body

body {
  width: 100%;
  background-color: $background-primary-colour;
  overflow-x: hidden;
  color: $text-primary-colour;
  text-align: center;

  @include keyframes(animStar) {
    from{
      transform: translateY(0px);
    }

    to{
      transform: translateY(-2000px);
    }
  }

  #small-stars {
    @include starInfo(1px, 10s);
    box-shadow: multiple-box-shadows(500, $star-three-colour);
    &:after {
      @include starAfter(1px);
      box-shadow: multiple-box-shadows(500, $star-three-colour);
    }
  }

  #medium-stars {
    @include starInfo(2px, 40s);
    box-shadow: multiple-box-shadows(200, $star-two-colour);
    &:after {
      @include starAfter(2px);
      box-shadow: multiple-box-shadows(200, $star-two-colour);
    }
  }

  #big-stars {
    @include starInfo(4px, 100s);
    box-shadow: multiple-box-shadows(100, $star-one-colour);
    &:after {
      @include starAfter(4px);
      box-shadow: multiple-box-shadows(200, $star-two-colour);;
    }
  }

  a {
    color: $text-primary-colour;

    &:hover {
      color: $background-footer-colour;
    }
  }

  // Background design

  h1 {
    font-family: $heading-font;
    font-size: 8vw; // Change for responsive
  }

  h2 {
    font-family: $secondary-font;
    font-size: 2vw; // Change for responsive
  }

  p {
    font-family: $secondary-font;
    font-size: 2vw; // Change for responsive
  }
}

// Nav

nav {
  font-family: $secondary-font;
  font-size: 1.2vw;
  width: 50vw;
  padding: 10px;
  margin: 2em 25vw;
  height: 10vh;
  display: flex;
  justify-content: center;

  .ul {
    display: grid;
    grid-template-columns: 2fr 1fr 2fr 1fr 2fr 1fr 2.5fr 1fr 2fr;
    list-style-type: none;

    &__line {
      margin-left: 0.25vw;
      margin-right: 0.25vw;
    }
  }
}

// Header

header {
  width: 100%;
  text-align: left;
  padding-left: 10vw;
  height: 60vh;
  display: flex;
  flex-direction: column;
  padding-top: 20vh;
  padding-bottom: 2vh;

  h2 {
    font-size: 3vw; // Change for responsive
  }
}

// Main

main {
  text-align: left;
}

// Footer

// Mobile => Tablet

// Tablet => Desktop