// Fonts

$heading-font: 'Space Mono', monospace;
$secondary-font: 'Space Grotesk', sans-serif;

// Background colours

$background-primary-colour: #343434;
$background-footer-colour: #b796ac;
$anchor-hover-colour: #44A1A0;

// Text colours

$text-primary-colour: #f7fff7;

// Other colours

$star-one-colour: #eee; // Biggest stars
$star-two-colour: rgba(238, 238, 238, 0.85); // Medium stars
$star-three-colour: rgba(238, 238, 238, 0.75); // Smallest stars

// Borders and drop shadows

$basic-border-design-1px: 1px solid #f7fff7; // Images of websites

// Background related

$star-max-value: 10000;

// Mixins

@mixin keyframes($name) {
  @keyframes #{$name} {
    @content;
  }
}

@mixin starInfo($size, $time) {
  width: $size;
  height: $size;
  background: transparent;
  animation: animStar $time linear infinite;
}

@mixin starAfter($size) {
  width: $size;
  height: $size;
  background: transparent;
  content: " ";
  position: absolute;
  top: (--top-height-after);
}

// Functions

@function multiple-box-shadows($n, $colour, $maxSize) {
  
  $value: '#{random($maxSize)}px #{random($maxSize)}px #{$colour}';
  @for $i from 2 through $n {
    $value: '#{$value} , #{random($maxSize)}px #{random($maxSize)}px #{$colour}';
  }
  @return unquote($value);
}