
// Imports

@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Space+Mono:wght@400;700&display=swap');

// Fonts

$nav-font: 'Space Grotesk', sans-serif;
$main-heading-font: 'Space Mono', monospace;

// Background colours

$background-primary-colour: #343434;
$background-footer-colour: #b796ac;

// Text colours

$text-primary-colour: #f7fff7;

// Other colours

$star-one-colour: #eee; // Biggest stars
$star-two-colour: rgba(238, 238, 238, 0.60); // Medium stars
$star-three-colour: rgba(238, 238, 238, 0.40); // Smallest stars

// Borders and drop shadows